* {
    padding: 0;
    margin: 0;
}

html,body {
    width: 100%;
    height: 100%;
}

.animated_bg {
    background: linear-gradient(271deg, #54db95, #09b45b);
    background-size: 400% 400%;
    position: fiexed;
    width: 100%;
    height: 100%;

    -webkit-animation: BGAnimation 8s ease infinite;
    -moz-animation: BGAnimation 8s ease infinite;
    animation: BGAnimation 8s ease infinite;
}

@-webkit-keyframes BGAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes BGAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes BGAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}